@import '../../css/_theme.scss';

.list {
    [class*="-list"] {
        .header {
            font-size: 24px;
            font-weight: 700;
            margin-top: 1em;
            padding: 10px;
            text-transform: capitalize;
        }
    }
    .list-item {
        // .#{$type}-description {
        //     margin-bottom: 1em;
        // }
        .list-icon {
            padding-right: 10px;
        }
        &.container {
            h5 {
                font-weight: bold;
            }
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px;
            .tags {
                margin-top: 10px;
            }
            .link {
                color: $theme_primary_color;
                display: block;
                margin-top: 1em;
                margin-bottom: 1em;
                &:hover {
                    color: $theme_secondary_color;
                }
            }
        }
    }
}
