@import '../../css/_theme.scss';

.loading-wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    .loading {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 64px;
        height: 64px;
        &:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid $theme_primary_color;
            border-color: $theme_primary_color transparent $theme_primary_color transparent;
            animation: loading-rings 1.2s linear infinite;
        }
    }

    /** Animations **/
    @keyframes loading-rings {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
